@import "../../variables"

.sidebar
    display: flex
    flex-direction: column


    hr
        margin: 0

        size: 0.1px
        width: 225px
        align-self: center

        border: 0.1px solid $secondary-color
    
    &_logo
        padding: 15px



    &_footer
        margin-top: auto