.container {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
  
    &__form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 50px;
    }
  
    &__greet {
      text-align: start;
  
      &__title {
        color: #222d37;
        font-weight: 500;
        font-size: 1.6rem;
        margin-bottom: -12px;
      }
  
      &__info {
        color: #737373;
        margin-bottom: 15px;
        font: 500 15px/32px Google Sans, -apple-system, BlinkMacSystemFont,
          sans-serif;
        letter-spacing: 0.2px;
      }
    }
  
    .direct {
      display: flex;
      justify-content: start;
      align-items: center;
      flex-direction: column;
      margin: 10px 0;
    }
  
    .quation {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
  
      &__info {
        font-size: 14px;
        color: #868e96;
      }
  
      &__link {
        font: 600 14px/40px Google Sans, -apple-system, BlinkMacSystemFont,
          sans-serif;
        color: #525355;
        text-decoration: none;
      }
    }
  
    .img {
      // background-image: url("../../assets/image.jpg");
      background-image: linear-gradient(120deg, #155799, #159957);
      background-size: cover;
      box-shadow: rgb(38, 57, 77) 0px -20px 30px -2px;
      height: 100vh;
      width: 65vw;
    }
  }
  
  @media screen and (max-width: 790px) {
    .container {
      grid-template-columns: 1fr;
    }
    .img {
      display: none;
    }
  }
  
  @media screen and (max-width: 410px) {
    .container__form {
      margin: 60px auto;
    }
  }
  
  @media screen and (max-width: 315px) {
    .container__greet {
      width: 200px;
    }
    .direct__btns {
      width: 200px;
    }
  
    .quation {
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
  